/* customize with css */
.container{
    margin-bottom: 100px;
}
.panda-background-color{
    background-color: #fceae8;
    border-radius: 10px;
}
.catagory-01{
    background-color: orange;
}
.catagory-02{
    background-color: orchid;
}
.catagory-03{
    background-color: blue;
}
.catagory-01, .catagory-02, .catagory-03{
    padding: 10px 30px !important;
    border-radius: 10px;
}
.catagories img{
    width: 100px;
}
.panda-buy-now-btn{
    background-image: linear-gradient(to bottom, #FF589B 0%, #FF136F 100%);
    color: white;
    border-radius: 8px;
    padding: 9px 25px;
    border: none;
}
.submit-area h6{
    color: gray;
}